<header class="project-partial__header">
    <span class="project-partial__meta">
        <a ng-if="$root.loggedIn" href="/projects/edit/{{project.slug}}" class="project-partial__info">Edit</a>
        <a ng-if="$root.loggedIn" href="#" class="delete project-partial__info">Delete</a>
    </span>
</header>
<div class="project-partial__image-container">
    <a href="/projects/{{project.slug}}" class="project-partial__video">
        <video class="project-partial__image" preload="auto" loop autoplay>
            <source type="video/webm">
            Sorry, your browser does not support the <code>video</code> tag.
        </video>
    </a>
</div>
<h4 class="project-partial__title"><a href="/projects/{{project.slug}}" class="project-partial__title-a">{{project.title}}</a></h4>
